.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: #564356;
    transition: .3s;

    &:hover {
        background: #3d2f3d;
    }

    &:disabled {
        background: #4c474c;
        color: #aaaaaa;
    }
}