.list {
    margin: 70px auto;
    list-style: none;
    padding: 0;
}

.container-cart.container-cart {
    max-width: 700px;
}

.goods-list {
    max-width: calc(270px * 4 + 150px);
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-auto-rows: auto;
    gap: 50px;
}

.no-items {
    padding-top: 100px;
    p {
        font-size: 30px;
    }
}