.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 10px 0;
    background: #1d012f;

    &-body {
        display: flex;
        justify-content: space-between;
    }
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.customer-btns {
    display: flex;
    align-items: center;
    gap: 20px;
}