.close__btn {
    position: absolute;
    padding: 10px 15px;
    right: 2px;
    top: 2px;
    z-index: 5;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}